@model IList<TyresStore.Repository.Models.Vehicle>

@{
    ViewBag.Title = "Home Page";
}

@*@foreach (var vehicle in Model)
{

    <div>
        @vehicle.Manufacturer
    </div>
    <div>
        @vehicle.Model
    </div>
    <div>
        @vehicle.Year
    </div>
    <div>
        @vehicle.Color
    </div>
    <div>
        @vehicle.ID
    </div>
    <hr />
}*@
<div>
    <table class="table table-striped vehicles-table">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Year</th>
                <th>Id</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in Model)
            {
                <tr>
                    <td> @vehicle.Manufacturer</td>
                    <td>
                        @vehicle.Model
                    </td>
                    <td>
                        @vehicle.Year
                    </td>
                    <td>
                        @vehicle.Color
                    </td>
                    <td>
                        @vehicle.ID
                    </td>
                    <td class="button-select">
                        <button type="button" class="btn btn-primary" onclick="mainModel.loadTyres(@vehicle.ID)">Select<i class="fas fa-plus"><span class="glyphicon glyphicon-share-alt"></span></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="tyres-table">
        <div class="header-table"><span class="tyres-title">Tyres</span></div>
        <div class="table-content"></div>
    </div>

</div>



